/* Global settings */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v23-latin-300.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v23-latin-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v23-latin-900.woff2') format('woff2'); 
}

:root {
/* Primary colors */
--color-primary-light: #FAF4EA;    
--color-primary-light1: #819B57;   
--color-primary-dark: #31261A;

/* Secondary colors */
--color-brand-dark: #465929;     
--color-brand-brown: #A18268;
--color-brand-beige: #CFCFBC;  

}

/* Base */

*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 p {
 margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
  
.section {
    padding: 48px 0;
}

/* Header*/
.header {
    position: absolute;
    padding-top: 32px;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-primary-light1);
    border: 2px solid var(--color-primary-light1);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;
}
.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
    transform: scale(1.05);
}
/* link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-primary-light1);
}

/* Hero section*/

.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(102.76deg, 
    rgba(18, 18, 17, 0.78) 2.03%, 
    rgba(18, 18, 17, 0.6) 58.46%, 
    rgba(18, 18, 17, 0) 90.36%)
        ,url(./img/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-weight: 900;
    font-size: 128px;
}

.hero-title .accent {
    color: var(--color-primary-light1);
}
/* green section with advantages */

.advantages-section {
    padding: 16px 0;
    background-color: var(--color-primary-light1);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Traditions section */

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.tradition-text {
    font-weight: 400;
    font-size: 18px;
}

.traditions-section {
    padding-top: 96px;
    margin-bottom: 42px;
}

.tradition-text .brand{
    color: var(--color-primary-light1);
    font-weight: 600;
}
.tradition-text .brand-uppercase{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary-light1);
}

.tradition-text:last-child {
    max-width: 380px;
}


/* Chefs section */

.chefs-title {
    margin: 0 auto 80px;
    position: relative;
}

.chefs-title::after, 
.chefs-title::before {
    bottom: 24px;
    position: absolute;
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-beige);
    content: '';
}

.chefs-title::before {
    left: 0;
}

.chefs-title::after {
    right: 0;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-brand-brown);
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
    position: relative;
}

.chefs-list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
}

.chefs-item {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
    display: flex;
    gap: 30px;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

/* Formats section */

.formats-item {
    flex-basis: calc((100% - 40px)/ 3);
}

.formats-list {
    display: flex;  
    gap: 20px;
    flex-wrap: wrap;
}

.format-card {
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg, 
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark)
    );
    /* background-image: url(./img/walrus.jpg); */
    border: 1px solid lightgray;
    border-radius: 16px; 
    transition: transform 0.3s;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* Carousel */

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    padding: 0;
    border-radius: 50%;
    fill: var(--color-primary-dark);
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    flex-shrink: 0;
    transition: transform 0.3s;
}

.carousel-button:hover {
    transform: scale(1.05);
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

/* Contact section */

.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-title {
    margin-bottom: 16px;
}

.contact-map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
}

/* Footer */

.footer {
    padding: 32px 0;
    position: relative;
    background-image: url(./img/footer-backgraund.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

.footer-nav, 
.footer-address{
    display: flex;
    flex-basis: 50%;
    gap: 30px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.address-list {
    max-height: 176px;
}

.address-icon {;
    fill: var(--color-primary-light);
    transition: transform 0.3s;
}

.address-icon:hover {
    transform: scale(1.05);
}

.address-link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s;
}

.address-link:hover {
    color: var(--color-primary-light1);
}

.address-copyright {
    color: var(--color-brand-brown);
    font-size: 14px;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0px;
    background-repeat: no-repeat;
    content: '';
}

.footer::before {
    left: 0;
    width: 180px;
    height: 120px;
    background-image: url(./img/bread-l.png);
}

.footer::after {
    right: 0;
    width: 380px;
    height: 190px;
    background-image: url(./img/bread-r.png);
}
/* add by me */
.footer-logo-button {
    transition: transform 0.3s;
}

.footer-logo-button:hover {
    transform: scale(1.05);
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}


/* Form */

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
}


.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-brand-brown);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-primary-light1);
    outline: none;
}

.form-field {
    position: relative;
    margin-bottom: 32px;
}

.form-input::placeholder {
    color: var(--color-brand-brown);
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto;
}

.form-terms {
    margin: 0 auto;
    max-width: 210px;
    padding-top: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-primary-light1);
    text-align: center;
    padding-bottom: 72px;
}

.form-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 0.76;
    margin: 0;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

