:root {
  /* Primary colors */
  --color-primary-light: #faf4ea;
  --color-primary-light1: #819b57;
  --color-primary-dark: #31261a;

  /* Secondary colors */
  --color-brand-dark: #465929;
  --color-brand-brown: #a18268;
  --color-brand-beige: #cfcfbc;
}