.advantages-section {
  padding: 16px 0;
  background-color: var(--color-primary-light1);

&__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}


&__item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}
}
