.footer {
  text-align: center;
  padding: 32px 0;
  position: relative;
  background-image: url(/img/footer-backgraund.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;

  &::before,
  &::after {
    position: absolute;
    bottom: 0px;
    background-repeat: no-repeat;
    content: "";
  }

  &::before {
    left: 0;
    width: 180px;
    height: 120px;
    background-image: url(/img/bread-l.png);
  }

  &::after {
    right: 0;
    width: 380px;
    height: 190px;
    background-image: url(/img/bread-r.png);
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: center;
    }
  }

  &__button {
    display: block;

    @media screen and (min-width: $bp-tablet) {
     display: inline-block;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__list,
  &__info {
    flex-grow: 1;
  }

  &__list {
    max-height: 176px;
  }

  &__address-link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary-light1);
    }
  }

  &__address-copyright {
    color: var(--color-brand-brown);
    font-size: 14px;
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }

 
}
