.traditions-section {
  padding-top: 40px;
  margin-bottom: 42px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__text {
  font-weight: 400;
  font-size: 18px;
}


&__text:last-child {
  max-width: 380px;
}

&__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}

&__text {
  &--limited {
    max-width: 340px;
  }
}

&__image {
  display: none;
  
   @media screen and (min-width: $bp-tablet) {
     display: block;
    }
}
}


